* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-background: rgb(235 251 242);
  --lightteal: rgb(135 199 174);
  --lightgreen: #81bd90;
  --mediumgreen: rgb(92 167 144);
  --darkgreen: rgb(54 119 93);
  --dark-color: rgb(34, 66, 53);
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none !important;
}

img {
  width: 100%;
}
/* HEADER AND NAVIGATION */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#burgermenu {
  font-size: 2rem;
  cursor: pointer;
}
#burgerhidden {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#logo {
  padding: 30px 10px;
  transition: opacity 1s, transform 2s;
}
nav {
  background-color: var(--dark-color);
}
nav a,
nav div {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* FOOTER */
footer {
  background-color: var(--dark-color);
  padding: 20px;
}
footer nav {
  height: 150px;
  display: flex;
  flex-direction: column;
}
footer nav a {
  width: 100%;
  padding: 10px 0;
}
#logo:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
header nav a {
  transition: opacity 1s, transform 1s;
  padding: 0 20px;
}
header nav a:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
footer nav a {
  transition: opacity 1s, transform 1s;
}
footer nav a:hover {
  transform-origin: left;
  opacity: 0.8;
  transform: scale(1.2);
}

#logo:hover line {
  transition: transform 2s;
  transform: scale(1.02);
  transform-origin: center;
}

@media only screen and (min-width: 600px) {
  /************BUGERMENU BLIVER NORMAL MENU*****/
  header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }
  #burgerhidden,
  #burgerhidden.hidden {
    order: 1;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
  }

  #burgermenu {
    display: none;
  }

  #logo {
    order: -1;
    padding: 0 30px;
    align-self: center;
  }
  #logo a {
    width: 35vw;
    max-width: 400px;
  }
}
