* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-background: rgb(235 251 242);
  --lightteal: rgb(135 199 174);
  --lightgreen: #81bd90;
  --mediumgreen: rgb(92 167 144);
  --darkgreen: rgb(54 119 93);
  --dark-color: rgb(34, 66, 53);
  font-family: Arial, Helvetica, sans-serif;
  --sky-blue: rgb(141, 222, 224);
  --dark-gray: rgb(49, 49, 49);
}

.hidden {
  display: none !important;
}

img {
  width: 100%;
}
body {
  background: linear-gradient(
    132deg,
    #bce7eb 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
}
/* HEADER AND NAVIGATION */
header {
  background-color: var(--sky-blue);
}
#burgermenu {
  font-size: 2rem;
  cursor: pointer;
}
#burgerhidden {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  align-content: center;
  transition: opacity 1s, transform 2s;
  padding: 5px;
  flex-grow: 1;
  flex-basis: 40%;
}
#logo a {
  width: 100%;
}
nav {
  display: flex;
  padding: 20px 10px;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
nav ul {
  flex-grow: 2;
  flex-basis: 60%;
  align-content: flex-end;
  text-align: end;
  padding: 0 10px;
}

nav ul a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: "Alegreya", serif;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.404);
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

/* FOOTER */
footer {
  background-color: var(--dark-color);
  padding: 20px;
  margin-top: -10px;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
footer nav {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#logo:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
header nav a {
  transition: opacity 1s, transform 1s;
}
header nav a:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
footer nav a {
  padding: 10px;
  transition: opacity 0.5s, transform 0.5s;
}
footer nav a:hover {
  transform-origin: left;
  opacity: 0.8;
  transform: translate(0px, -10px);
}
/* SOME */
.some a svg {
  width: 100px;
  height: 100px;
  fill: white;
}

#logo:hover line {
  transition: transform 2s;
  transform: scale(1.02);
  transform-origin: center;
}

@media only screen and (min-width: 600px) {
  /************BUGERMENU BLIVER NORMAL MENU*****/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
  }
  header div {
    width: 100%;
  }
  #burgerhidden,
  #burgerhidden.hidden {
    order: 1;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
  }

  #burgermenu {
    display: none;
  }

  #logo {
    order: -1;
    padding: 0 30px;
    align-self: center;
  }
  #logo a {
    width: 35vw;
    max-width: 400px;
  }
  nav ul a {
    background-color: rgba(255, 255, 255, 0);
  }
  nav ul a:last-child {
    background-color: #ffff6d;
    border-radius: 30px;
    border: 10px solid #ffff6d;
    box-shadow: 0 0 50px white;
  }
}
